/* body{
  min-height: 100vh;
  background: url('./background-pics/background-1.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
} */

body, .normal-text{
  font-family: 'Philosopher', sans-serif;
}

#home-page{
  min-height: 102vh;
  background: url('./background-pics/background-1.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  font-family: 'Philosopher', sans-serif;
}


#about-page{
  min-height: 102vh;
  background: url('./background-pics/background-2.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#tripform-page{
  min-height: 200vh;
  background: url('./background-pics/background-4.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  font-family: 'Philosopher', sans-serif;
}

#signup-page, #login-page{
  min-height: 102vh;
  background: url('./background-pics/background-3.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#header-title{
  font-size: 2em;
  font-family: 'Philosopher', sans-serif;
}

.pt-page-moveToTop {
	-webkit-animation: moveToTop 1s ease both;
	animation: moveToTop 1s ease both;
}

@-webkit-keyframes moveToTop {
  from { }
	to { -webkit-transform: translateY(-100%); }
}

.pt-page-moveFromBottom {
	-webkit-animation: moveFromBottom 1s ease both;
	animation: moveFromBottom 1s ease both;
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(150%); }
}

#home-icon{
  position: absolute;
  left: 40%;
  bottom: 5%;
}

#home-icon:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.menu-item{
  font-size: 1.3em;
}

.non-header-content{
  top: 50%;
}

#page-grid{
  min-height: 100vh;
}

div.thirteen.wide.column{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mainheader-container{
  padding-right: 0px !important;
  max-width: 265px;
  max-height: 100vh;
}

#mapCoordinateDisplay{
  display: inline-block;
  opacity: 0.5;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-left: 1%;
  margin-top: 1%;
  padding: 1%;
}

#login-form, #signup-form{
  min-width: 30%;
  position: absolute;
  left: 35%;
  top: 40%;
}

#about{
  max-width: 60%;
  position: absolute;
  left: 15%;
  top: 33%;
  opacity: 0.7;
  border-radius: 10px;
}

#trip-form{
  min-width: 70%;
  position: absolute;
  left: 15%;
  top: 4%
}

#home-title{
  color: black;
  opacity: 0.7;
  font-size: 6em;
  position: absolute !important;
  left: 20%;
  top: 39%;
  font-family: 'Philosopher', sans-serif;
  /* font-weight: bold; */
}

.menu-item, .about-page-title, .show-page-title, .trip-show-summary, .trip-show-itinerary{
  font-family: 'Philosopher', sans-serif;
}

#searchbar{
  border-radius: 30px;
  width: 20em;
  height: 3em;
  border-style: none;
}

#trips-grid{
  padding-top: 1%;
}

#trips-index-row-container{
  padding-top: 0px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20%;
  text-align: center;
}

.trip-images:hover .overlay{
  opacity: 0.7;
}

.trip-images:hover, .liked-trip-images-container:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.liked-trip-images-container, .liked-trip-images-container img{
  transition: all 0.3s;
  width: 1100px;
  height: 275px;
  object-fit: cover;
}
.liked-trip-images-container{
  position: relative;
}

.liked-trip-images-container img{
  position: absolute !important;
  text-align: center;
}

.liked-trip-image-text{
  position: absolute !important;
  bottom: 5%;
  left: 3%;
  font-family: 'Philosopher', sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  font-weight: bold;
}

#page-grid > div.thirteen.wide.column > div > div > div{
  margin: 0px;
}

.trip-images, .trip-images img{
  width: 407px;
  height: 345px;
  object-fit: cover;
  transition: all 0.3s;
}

.liked-trip-row{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 2%;
}

.trip-images-columns{
  padding: 0px !important;
  overflow: hidden;
}

.slider-pics{
  width: 1100px;
  height: 700px;
  margin: auto;
  object-fit: contain;
}

.slick-prev {
  left: 1.5% !important;
  z-index: 1;
}
.slick-next {
  right: 1.5% !important;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.trip-show-page-title{
  padding-left: 3%;
  padding-bottom: 0px;
}

.trip-show-summary{
  padding-bottom: 3%;
  padding-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.trip-show-itinerary{
  padding-bottom: 3%;
  margin: 4%;
}

div.title{ /*accordion titles */
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: black;
  font-size: 1.4em !important;
}

.delete-pin-text, .be-the-first, .see-trips-for{
  color: blue;
}

.delete-pin-text:hover, .be-the-first:hover, .see-trips-for:hover{
  cursor: pointer;
  text-decoration: underline;
}

.trip-show-like{
  padding-left: 4%;
}

.black-box{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
  border-radius: 50px;
}

.trip-show-summary-content, .trip-show-subheader{
  text-align: center;
  font-size: 1.3em;
}

#searchbar-row{
  background-color: rgb(30,30,30);
  padding-left: 3%;
}
