/* body{
  min-height: 100vh;
  background: url('./background-pics/background-1.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
} */

#home-page, #about-page{
  min-height: 102vh;
  background: url('./background-pics/background-2.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}


#trips-page{
  min-height: 102vh;
  background: url('./background-pics/background-1.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#tripform-page{
  min-height: 200vh;
  background: url('./background-pics/background-4.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#signup-page, #login-page{
  min-height: 102vh;
  background: url('./background-pics/background-3.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#header-title{
  font-size: 2em;
}

.menu-item{
  font-size: 1.3em;
}

.non-header-content{
  top: 50%;
}

#page-grid{
  min-height: 100vh;
}

div.thirteen.wide.column{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mainheader-container{
  padding-right: 0px !important;
  max-width: 265px;
  max-height: 100vh;
}

#mapCoordinateDisplay{
  display: inline-block;
  opacity: 0.5;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-left: 1%;
  margin-top: 1%;
  padding: 1%;
}

#login-form, #signup-form{
  min-width: 30%;
  position: absolute;
  left: 35%;
  top: 40%;
}

#about{
  max-width: 60%;
  position: absolute;
  left: 15%;
  top: 33%;
  opacity: 0.7;
  border-radius: 10px;
}

#trip-form{
  min-width: 70%;
  position: absolute;
  left: 15%;
  top: 4%
}

#home-title{
  color: black;
  opacity: 0.7;
  font-size: 6em;
  position: fixed;
  left: 35%;
  top: 39%;
}

#searchbar{
  border-radius: 30px;
  width: 20em;
  height: 3em;
  border-style: none;
}

#trips-grid{
  padding-top: 5%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 25%;
  text-align: center;
}

.trip-images:hover .overlay {
  opacity: 0.7;
}

.trip-images:hover{
  transform: scale(1.1);
}

.trip-images, .trip-images img{
  width: 407px;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s;
}

.trip-images-columns{
  padding: 0px !important;
  overflow: hidden;
}

.slider-pics{
  width: 1100px;
  height: 700px;
  margin: auto;
  object-fit: contain;
}

#trip-show-page{
  padding-top: 4%;
}

.slick-prev {
  left: 1.5% !important;
  z-index: 1;
}
.slick-next {
  right: 1.5% !important;
  z-index: 1;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.show-page-title{
  padding-left: 3%;
  padding-bottom: 1%;
}

.trip-show-summary, .trip-show-itinerary{
  border-bottom: 1px solid grey;
  padding-bottom: 3%;
  margin: 4%;
}
