/* body{
  min-height: 100vh;
  background: url('./background-pics/background-4.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
} */

#home-page, #about-page{
  min-height: 102vh;
  background: url('./background-pics/background-2.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#trips-page{
  min-height: 102vh;
  background: url('./background-pics/background-1.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#tripform-page{
  min-height: 200vh;
  background: url('./background-pics/background-4.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#signup-page, #login-page{
  min-height: 102vh;
  background: url('./background-pics/background-3.jpg') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#header-title{
  font-size: 2em;
}

.menu-item{
  font-size: 1.3em;
}

.non-header-content{
  top: 50%;
}

#page-grid{
  min-height: 100vh;
}

div.thirteen.wide.column{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.mainheader-container{
  padding-right: 0px !important;
  max-width: 265px;
  max-height: 100vh;
}

#mapCoordinateDisplay{
  display: inline-block;
  opacity: 0.5;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-left: 1%;
  margin-top: 1%;
  padding: 1%;
}

#login-form, #signup-form{
  min-width: 30%;
  position: absolute;
  left: 35%;
  top: 40%;
}

#about{
  max-width: 60%;
  position: absolute;
  left: 15%;
  top: 33%;
  opacity: 0.8;
}

#trip-form{
  min-width: 70%;
  position: absolute;
  left: 15%;
  top: 4%
}

#home-title{
  color: black;
  opacity: 0.7;
  font-size: 6em;
  position: fixed;
  left: 35%;
  top: 39%;
}

#searchbar{
  border-radius: 30px;
  width: 20em;
  height: 3em;
  border-style: none;
}

#trips-grid{
  padding: 5%;
}
